*, *>* {
	box-sizing: border-box !important;
}
body {
	margin: 0;
}

.is-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
 ul {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 }

.temp {
	background-color: red;
	padding: 5px;
	position: absolute;
	left: -50px;
	top: -50px;
}


#mainContainer {
	background-color: black;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
    padding-top: 1px;
	color: whitesmoke;
}
#screen {
	position: relative;
	background-color: #0c0c0c;
    width: 1000px;
    height: 600px;
	margin: 50px auto;
	border: 1px solid green;
}



.section-container {
	width: 100%;
	height: 100%;
	background-color: black;
	padding: 1px;
}

.section-content {
	margin: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background-color: gray;
}


/* WELCOME screen */
#section-intro {
	height: 100%;
    padding-top: 1px;
}
#section-intro p {
	text-align: center;
	margin-top: 100px;
	background-color: grey;
	color: black;
	letter-spacing: 4px;
	font-weight: bold;
	padding: 50px 0;
	cursor: pointer;
	transition: all 0.2s ease;
}
#section-intro p:hover {
	letter-spacing: 12px;
	background-color: whitesmoke;
}



#section-fight {
	width: 100%;
	height: 100%;
	background-color: white;
}




#section-town {
}


#section-town .section-content {
	display: flex;
	flex-flow: row nowrap;
}

#town-map {
	width: 50%;
}
#backpack {
	box-shadow: 0 0 0px 1px red;
	width: 50%;
	padding: 12px;
}


#character-statistics {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-bottom: 12px;
}


#character-statistics tr td:first-child {
	font-weight: bold;
	font-size: 1.1rem;
	color: black;
}
#character-statistics tr td:last-child {
	color: #fff;
}










.equipment-list {
	display: flex;
	flex-flow : row wrap;
	justify-content: space-around;
	width: 100%;
}
.equipment-list li {
	padding-left: 50px;
	position: relative;
    padding-top: 10px;
    height: 45px;
    width: 50%;

}
.equipment-list li:not([thevalue=""]):hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}
.equipment-list li::before,
.equipment-list p::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 44px;
	height: 44px;
	background-position: 0 0;
	background-size: 580%
}

.equipment-list .weapon::before {
	background: url('../img/icons/weapon.png') no-repeat;
}
.equipment-list .shield::before {
	background: url('../img/icons/shield.png') no-repeat;
}
.equipment-list .helmet::before {
	background: url('../img/icons/helmet.png') no-repeat;
}
.equipment-list .armor::before {
	background: url('../img/icons/armor.png') no-repeat;
}
.equipment-list .boots::before {
	background: url('../img/icons/boots.png') no-repeat;
}
.equipment-list .gloves::before {
	background: url('../img/icons/gloves.png') no-repeat;
}

#character-equipment .equipment-list li[thevalue=""] {
	filter: grayscale(1);
	opacity: 0.4;
}



#inventory {
margin-top: 15px;
}
#inventory .tabs-titles {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
    position: relative;
    top: 1px;
}
#inventory .tabs-titles li {
	padding: 3px 5px;
	border: 1px solid transparent;
	border-bottom: 1px solid black;
	cursor: pointer;
}
#inventory .tabs-titles li.is-selected {
	border: 1px solid black;
	border-bottom: 1px solid grey;
}
#inventory .tabs-container {
	border: 1px solid black;
	padding: 12px;
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;

}
.tabs-container .equipment-list li {
	width: 30%;
}
.tabs-container .equipment-list p::before {
	border-radius: 50px;
	overflow: hidden;
}



#equips .equipment-list .isequipped::before {
	box-shadow: 0 0 8px 2px darkgreen;
}
