<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>full</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- http://rivetsjs.com/docs/reference/ -->
<div id="mainContainer">
	<!-- {settings}, {player} -->
	 <div id="screen">
	 	<section rv-if="settings.sections.intro" id="section-intro" data-sectionName="intro">
	 		<p id="jouer-btn" rv-on-click="settings.switchSection" data-targetname="town">JOUER</p>
	 	</section>

	 	<section rv-if="settings.sections.fighting" class="section-container" id="section-fight" data-sectionName="fighting">
	 			<p class="temp">fighting</p>
	 		<div class="section-content">
			</div>
	 	</section> <!-- end #section-fight -->

	 	<section rv-if="settings.sections.town" class="section-container" id="section-town" 
	 		data-sectionName="town">
			<p class="temp">town</p>
			<div class="section-content">
				<div id="town-map">
	 				<ul>
	 					<li>Taverne</li>
	 					<li rv-on-click="settings.switchSection" data-targetname="shop">Magasin</li>
	 					<li>Donjon</li>
	 				</ul>
	 			</div>
	 			<div id="backpack">
	 				<div id="character-statistics">
	 					<table>
		 					<tr>
								<td>name</td><td>{player.name}</td>
							</tr>
		 					<tr>
								<td>level</td><td>{player.level}</td>
							</tr>
							<tr>
								<td>ac</td><td>{player.ac}</td>
							</tr>
						</table>
	 					<table>
		 					<tr>
								<td>str</td><td>{player.str}</td>
							</tr>
							<tr>
								<td>const</td><td>{player.const}</td>
							</tr>
		 					<tr>
								<td>intel</td><td>{player.intel}</td>
							</tr>
						</table>
	 					<table>
							<tr>
								<td>dex</td><td>{player.dex}</td>
							</tr>
		 					<tr>
								<td>luck</td><td>{player.luck}</td>
							</tr>
						</table>
	 				</div>
	 				<div id="character-equipment">
	 					<ul id="" class="equipment-list">
							<li rv-each-eq="player.equipped" rv-class="eq.label" rv-thevalue="eq.value">
		 						{eq.value}
		 					</li>
	 					</ul>
	 				</div>
	 				<div id="inventory">
	 					<ul class="tabs-titles">
	 						<li 
	 							rv-on-click="settings.inventory.switchTab" 
	 							data-targetname="equips" 
	 							class="inventory-tab-title is-selected">
 								equips
							</li>
	 						<li 
	 							rv-on-click="settings.inventory.switchTab" 
	 							data-targetname="items" 
	 							class="inventory-tab-title">
 								items
							</li>
	 						<li 
	 							rv-on-click="settings.inventory.switchTab" 
	 							data-targetname="skills" 
	 							class="inventory-tab-title">
 								skills
							</li>
	 					</ul>
	 					<div class="tabs-container"> 
		 					<div rv-if="settings.inventory.tabs.equips" id="equips">
		 						EQUIPS 
		 						<ul class="equipment-list">
								  <li rv-each-eq="player.backpack.equips">
								    <p 
								    	rv-class="eq.type" 
							    		rv-class-isequipped="eq.isEquipped" 
							    		rv-on-click="eq.toggleEquipmentStatus">
							    		{ eq.name }
						    		</p>
								  </li>
								<ul>
	 						</div>

		 					<div rv-if="settings.inventory.tabs.items" id="items" >
		 						ITEMS Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Deserunt sint tempore, pariatur dolor dicta provident aut perspiciatis ut quasi reprehenderit nobis voluptatum labore temporibus, deleniti, quisquam omnis! Fugiat est, laborum alias animi debitis repellendus, blanditiis assumenda temporibus id. Deleniti, omnis. Soluta est, enim corporis alias accusantium dolor voluptate blanditiis minus.
		 					</div>

		 					<div rv-if="settings.inventory.tabs.skills" id="skills" >
		 						SKILLS Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias rerum tempore obcaecati dolor mollitia ullam cumque enim atque quos eaque, rem iure natus vero velit laboriosam sunt placeat, magni non eligendi provident soluta unde? Modi quas ipsam doloribus. Libero, nam voluptate doloremque tempora ipsa fugiat laborum, vel fugit illum.
		 					</div>
	 					</div>
	 				</div> <!-- end #inventory -->
	 			</div> <!-- end #backpack -->
			</div>
		</section> <!-- end #section-town -->

	 	<section rv-if="settings.sections.shop" class="section-container" id="section-shop" data-sectionName="shop">
			<div class="section-content">
				<p class="temp">shop</p>
				<p rv-on-click="settings.switchSection" data-targetname="town">Ville</p>
				
			</div>
		</section> <!-- end #section-town -->
	 </div>
</div>


<!-- jquery -->
<script	src="js/utils/jquery.js"></script>
<script	src="js/rivets.js"></script>
<script	src="js/utils.js"></script>
<script	src="js/staticdata.js"></script>
<script	src="js/datamodel.js"></script>
<script	src="js/main.js"></script>
<script	src="js/eventListeners.js"></script>

</body>
</html>